.newStudentFormContainer {
  border: 1px solid rgb(124, 124, 124);
  border-radius: 5px;
  width: fit-content;
  margin: 0 auto 0 auto;
  padding: 1em 3em;
  height: fit-content;
  background-color: rgb(75, 168, 255);
}

input {
  margin: 2em auto 0 auto;

}

button {
  margin: 1em 20px 0 auto;

}

form {
  width: fit-content;
  height: fit-content;
}

h1 {
  width: fit-content;
  margin: auto auto 0 auto;
}

p {
  margin-top: 2em;
}